<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleDevelopmentRegion</key>
  <string>zh_CN</string>
  <key>CFBundleDisplayName</key>
  <string>EDP Drive</string>
  <key>CFBundleExecutable</key>
  <string>EDP Drive</string>
  <key>CFBundleIdentifier</key>
  <string>com.edp.drive</string>
  <key>CFBundleIconFile</key>
  <string>EDPDrive.icns</string>
  <key>CFBundleInfoDictionaryVersion</key>
  <string>6.0</string>
  <key>CFBundleName</key>
  <string>EDP Drive</string>
  <key>CFBundlePackageType</key>
  <string>APPL</string>
  <key>CFBundleShortVersionString</key>
  <string>0.6.0</string>
  <key>CFBundleVersion</key>
  <string>1</string>
  <key>LSMinimumSystemVersion</key>
  <string>26.0</string>
  <key>EDPServiceMode</key>
  <string>legacy</string>
  <key>LSUIElement</key>
  <true/>
  <key>NSHighResolutionCapable</key>
  <true/>
  <key>NSRemovableVolumesUsageDescription</key>
  <string>EDP Drive 需要访问您插入的 EDP 加密U盘以完成识别、解锁和挂载。</string>
</dict>
</plist>
