<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.evolution404.edpopen.rawbroker.poc</string>
  <key>ProgramArguments</key>
  <array>
    <string>/Library/PrivilegedHelperTools/com.evolution404.edpopen.rawbroker.poc.runner</string>
  </array>
  <key>WatchPaths</key>
  <array>
    <string>/tmp/com.evolution404.edpopen.rawbroker.poc.trigger</string>
  </array>
  <key>RunAtLoad</key>
  <false/>
  <key>ProcessType</key>
  <string>Background</string>
  <key>StandardOutPath</key>
  <string>/tmp/com.evolution404.edpopen.rawbroker.poc.out</string>
  <key>StandardErrorPath</key>
  <string>/tmp/com.evolution404.edpopen.rawbroker.poc.err</string>
</dict>
</plist>
